body {
	font-family: Ariel;
	color:black;
	display: inline;
	background-color: lightgray;
	text-align:center;
}

h1 {
  	font-size: 70pt;
	line-height: 60pt;
}

h2 {
	font-size: 50pt;
}

h3 {
  	font-size: 40pt;
}

h1 h2 h3 {
	font: Verdanda, Ariel, sans-serif;
	font-weight: bold;
	text-align: center;
}

p {
	font-size: 16;
	text-align: center;
}

.center {
	margin: 0 auto;
	display: inline;
	text-align: center;
}

.flex-container {
  	display: flex;
  	flex-direction: row;
	justify-content: space-around;
}
