body {
	font-size: 16pt;
	font-family: Ariel;
	color:black;
	background-color: lightblue
}

h1 {
  	font-size: 70pt;
	font: Verdanda, Ariel, sans-serif;
	font-weight: bold;
	text-align: center;
	display:inline
}

h2 {
	font-size: 50pt;
	font: Verdanda, Ariel, sans-serif;
	font-weight: bold;
	text-align: center;
	display:inline
}

h3 {
  	font-size: 40pt;
	font: Verdanda, Ariel, sans-serif;
	font-weight: bold;
	color:black;
	text-align: center;
	display:inline
}

.center {
	display:inline;
	text-align: center;
}

.flex-container {
  	display: flex;
  	flex-direction: row;
	justify-content: space-around
}
